.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2rem; // to have same line height to buttons and button-links
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}

.button--link {
  // make a link looks like a button
  display: inline-block; // allow spacing for other elements have inpact on this elemnt
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button--pill-color;
  color: $button--pill-color;
  padding: .3rem .8rem;
}

.button--secondary {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}

.button--link-text {
  // styling a button like a link
  background: none;
  margin: 0;
  padding:0;
  text-decoration: underline;
  text-transform: none; // reset the uppercase transform on button
}
